<nav class="transition--fade">
  <div class="nav-bar nav--absolute nav--fixed" data-fixed-at="200">
    <!-- logo module -->
    <div class="nav-module logo-module left">
      <a href="/index">
        <img class="logo logo-dark" alt="logo" src="/img/logo-light-ocp.png" />
        <img class="logo logo-light" alt="logo" src="/img/logo-light-ocp.png" />
      </a>
    </div>

    <!-- pancake button -->
    <div class="nav-mobile-toggle">
      <span></span>
    </div>

    <!-- menu module -->
    <div class="nav-module menu-module left">
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li style="display:none;"><a href="/login">Login</a></li>
        {{#if what}}
          <li><a href="#what">What We Do</a></li>
        {{/if}}
        {{#if about}}
          <li><a href="#about">About</a></li>
        {{/if}}
        {{#if how}}
          <li><a href="#how">How It Works</a></li>
        {{/if}}
        <li style="display:none;"><a href="/signup">Sign Up</a></li>
        {{#if team}}
          <li><a href="#team">Team</a></li>
        {{/if}}
        {{#if calculator}}
          <li><a href="#calc">Calculator</a></li>
        {{/if}}
        {{#if invest}}
          <li><a href="#invest">Investors</a></li>
        {{/if}}
        <li><a href="/blog">Blog</a></li>
        {{#if contact}}
          <li><a href="#contact">Contact</a></li>
        {{/if}}
      </ul>
    </div><!-- end menu-module -->
  </div><!-- end nav-bar -->
</nav>
