<nav class="transition--fade">
  <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="200">
    <!-- logo module -->
    <div class="nav-module logo-module left">
      <a href="/index">
        <img class="logo logo-dark" alt="logo" src="img/logo-light-ocp.png" />
        <img class="logo logo-light" alt="logo" src="img/logo-light-ocp.png" />
      </a>
    </div>
    <!-- menu module -->
    <div class="nav-module menu-module left">
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="#what">What We Do</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#how">How It Works</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#calc">Calculator</a></li>
        <li><a href="#invest">Investors</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- end menu-module -->
  </div><!-- end nav-bar -->
</nav>
