.input-with-icon label + i + input[type="currency"] {
  margin-top: 0.8125em;
  background: #FFFFFF;
  width: 100%;
  transition: 0.2s linear;
  color: #767676;
  padding-left: 4.0625em;
  padding-right: 1.625em;
  height: 52px;
  border-radius: 50px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.input-with-icon select,
.row .col-sm-12 .full-width-button {
  width: 100%; }

.left-aligned-label {
  margin-left: 0;
  margin-top: 25px; }

.subscribe-button {
  padding: 0 5px; }

.video-container {
  height: 100vh; }
  .video-container h1 {
    color: #FFF; }
  .video-container video {
    width: 100%; }
  @media (max-width: 767px) {
    .video-container {
      height: calc(50vh - 65px); }
      .video-container h1 {
        color: #FFF; }
      .video-container video {
        height: 50vh; }
      .video-container .pos-vertical-center {
        top: 50%;
        transform: translateY(25%); } }
  @media (max-width: 415px) {
    .video-container {
      height: auto; }
      .video-container video {
        height: 50vh; }
      .video-container .pos-vertical-center {
        top: 0;
        transform: translateY(25%); } }

#what {
  padding-bottom: 3em;
  padding-top: 3em; }

.nav-mobile-toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  padding: 0; }

.hidden-md .nav-mobile-toggle {
  display: none; }

.nav-mobile-toggle span:after,
.nav-mobile-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.nav-mobile-toggle span:after {
  top: 9px; }

.nav-mobile-toggle span {
  display: block; }

.nav-mobile-toggle span,
.nav-mobile-toggle span:after,
.nav-mobile-toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px; }

/* on menu opening */
.nav-open .nav-mobile-toggle span {
  background-color: transparent; }

.nav-open .nav-mobile-toggle span:before {
  transform: rotate(45deg) translate(5px, 5px); }

.nav-open .nav-mobile-toggle span:after {
  transform: rotate(-45deg) translate(7px, -8px); }

.nav-open .nav-mobile-toggle + .menu-module {
  opacity: 1;
  visibility: visible; }

.nav-bar .menu li:active,
.nav-bar .menu li:hover {
  border-bottom: 4px solid #B442BB !important; }

.nav-bar .menu li:active a,
.nav-bar .menu li:hover a {
  color: #BC54C3 !important; }

/*
NOTE: temp fix to pancake button on large screens, bootstrap responsive
utilities don't work.
 */
@media screen and (min-width: 990px) {
  .nav-mobile-toggle {
    visibility: hidden; } }
