<div class="main-container transition--fade">
    <section class="blog-post">
        <div class="blog-post__title imagebg parallax" data-overlay="5">
            <div class="background-image-holder">
                <img alt="Pic" src="/img/hero01.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>What is One Car Payment?</h1>
                        <div class="blog-post__author">
                            <span>
                                <em>by&nbsp;</em>
                            </span>
                            <span class="h6">Rudy Ferraz</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!-- <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <img class="blog-post__hero box-shadow" alt="pic" src="/img/hero23.jpg" />
              </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h5><i>One Car Payment – Drive. Any Where. Any Time.</i></h5>
                  <p>
                    We’ve been buying and paying for car ownership pretty much the same way for over a century, but we think it’s time for a change. One Car Payment is our solution, accounting for the true cost of car ownership, including financing, fees, maintenance, and repairs. Instead of managing multiple payments and unexpected costs through the life of the vehicle, our program combines them all into a single easy-to-manage payment. At the end of the term, you own a well-maintained car that should last for years to come. If you decide you need a different vehicle mid-term – life changes mean transportation changes – One Car Payment can ease the transition and reduce your losses.                  </p>
                  <p>
                    In an interview with One Car Payment’s founder, Rudy Ferraz, we’re looking at how the idea came about and what it can do for millions of people struggling to manage the true costs of car ownership. In some cases, this can mount to over twice the price of the vehicle alone!
                  </p>
                  <h4>
                    What can One Car Payment do for those looking to buy a car?
                  </h4>
                  <p>
                    Over the life of a car loan, say five years, car buyers rack up a number of different costs, not just the car payment. There’s also car insurance, fuel, regular maintenance, and repairs, which many people don’t realize can easily exceed the car payment itself. Early in the term, maintenance and repairs are minimal but, as a car ages and the miles rack up, more maintenance and repairs will be needed – brakes and tires wear out, oil changes and other powertrain maintenance is more intensive.
                  </p>
                  <p>
                    Many car owners don’t plan for these expenses, but they can be a big hit on a budget. One Car Payment rolls all the expenses into a single payment. It’s easier to manage and typical maintenance and repairs are all included.
                  </p>
                  <h4>
                    What if a One Car Payment member’s needs change?
                  </h4>
                  <p>
                    That’s exactly what we asked ourselves. A few years ago, financial problems forced us to reconsider our expenses, the car among them. We cut back on insurance and maintenance, neither of which were great ideas, but we could do nothing about the car payment. The bank told us we could try to sell or return the car, but we’d have taken a big hit doing so.
                  </p>
                  <blockquote>
                    &ldquo;That’s how One Car Payment came into being – we thought, “Wouldn’t it be great if car ownership costs were easier to manage?” and “If our needs change, why can’t I change my car without losing anything?” One Car Payment is our answer to those questions. America has been doing “car ownership” this way for over one hundred years. It’s time for a change.&rdquo;
                  </blockquote>
                  <p>
                    The way things are done today is obsolete – car ownership costs are inflexible – because it doesn’t evolve with the buyer’s needs. Commuters typically look for economy cars, families often seek family sedans or minivans, and retirees tend to prefer luxury or sporty cars. If a life change happens in the middle of a term, such as a birth or adoption or the kids going off to college, the One Car Payment Exchange, Trade, and Upgrade Program evolves with changing transportation needs.
                  </p>
                  <h4>
                    Isn’t that what carsharing programs are already doing?
                  </h4>
                  <p>
                    Not really. True, in a carsharing program, you pay for the use of a car. Cadillac, for example, just rolled out a $1,500-per-month program and you can drive any Cadillac you want as long as you’re part of the program. ZipCar, Car2Go, and other carsharing companies function similarly, albeit on a different scale.
                  </p>
                  <p>
                    The problem is, with these other programs, once you’re out of the program, you’re left with nothing. One Car Payment is different, in that our program leads to ownership. In other words, at the end of a One Car Payment term, you own the vehicle.
                  </p>
                  <h4>
                    What’s the roadmap going forward for One Car Payment?
                  </h4>
                  <p>
                    Right now, we’re in Alpha mode, developing the website, customer front-end and back-end, and finalizing our intelligent algorithm (IA) program. In the next few months, with time and effort on the part of myself and a small group of developers, not to mention investment funding, we should get into Beta mode. Soon, we’ll be inviting beta testers to put our system through its paces and try to break it. Once we proof the technology, we could go live as soon as mid-year 2017. We plan on rolling out Boks Kar services in three stages.
                  </p>
                  <h4>
                    Once One Car Payment “goes live,” what will that mean for members?
                  </h4>
                  <ul>
                    <li>
                      <strong>Package One</strong> is educating customers on the true costs of car ownership and making it more affordable. One Car Payment’s IA program will calculate the costs of owning a new car and roll it into a single affordable and easily-manageable payment. At first, One Car Payment will function as a loan and insurance servicer, but we’ll eventually move into offering finance and insurance options ourselves. We’re also working with automobile shops nationwide to offer competitive maintenance plans. After all, what good is a car payment if the car isn’t well-maintained?
                    </li>
                    <li>
                      <strong>Package Two</strong>, which we’ll roll out in a few years, will be a fractional ownership program. This is something like a carsharing program, but shared only with three or four owners, all of whom have interest and partial ownership of the car. An app will coordinate who to uses the car and when, and all owners get a say in what to do with the car at the end of the term. They might choose to sell it, replace it, upgrade it, or add a second car, for example.
                    </li>
                    <li>
                      <strong>Package Three</strong> will be the One Car Payment Exchange, Trade, and Upgrade Program. Under this program, members will pay monthly for a vehicle. When their needs change, they can change their vehicle with a minimum of financial loss. If they’re in a car for a whole term, it’s theirs. If they’re not in a car for the whole term, they’ll have the option to buy the car at value or upgrade.
                    </li>
                  </ul>
                  <h4>
                    One Car Payment – The Road to Intelligent Auto Financing
                  </h4>
                  <p>
                    For more information on this ground-breaking new program, sign up at OneCarPayment.com. We have a strict no-spam policy and we’ll never sell your email address to anyone. Do you know anyone who wants to have all their car costs rolled into one monthly payment? Let us know, at membership@onecarpayment.com, and we’ll give you 50 exchange bonus points for the new referral when they join One Car Payment.
                  </p>
                  <hr>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-post__share">
                        <h5>Share this article</h5>
                        <a class="btn btn--sm bg--facebook" href="#">
                            <span class="btn__text">
                                <i class="socicon-facebook"></i> Share on Facebook
                            </span>
                        </a>
                        <a class="btn btn--sm bg--twitter" href="#">
                            <span class="btn__text">
                                <i class="socicon-twitter"></i> Share on Twitter
                            </span>
                        </a>
                        <a class="btn btn--sm bg--googleplus" href="#">
                            <span class="btn__text">
                                <i class="socicon-googleplus"></i> Share on GooglePlus
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="blog-post__comments">
                        <hr>
                        <h6>3 Comments:</h6>
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-4.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Abigail Roswell</h5>
                                        <span>
                                            <em>March 17th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment__image">
                                                <img alt="pic" src="/img/avatar-small-3.png" />
                                            </div>
                                            <div class="comment__text">
                                                <h5>Rick Vogel</h5>
                                                <span>
                                                    <em>March 17th, 2016</em>
                                                </span>
                                                <p>
                                                    Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                        <!--end comment-->
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-1.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Lisa Wright</h5>
                                        <span>
                                            <em>March 15th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                            </li>
                        </ul>
                        <form class="comment__form form--square">
                            <h6>Leave a Comment</h6>
                            <input placeholder="Your Name" type="text" name="name" />
                            <input placeholder="Email Address" type="email" name="email" />
                            <textarea placeholder="Your Comment" name="comment" rows="4"></textarea>
                            <button type="submit" class="btn btn--primary">Submit Comment</button>
                        </form>
                    </div>
                    <!--end of blog comments-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
