<div class="main-container transition--fade">
    <section class="blog-post">
        <div class="blog-post__title imagebg parallax" data-overlay="5">
            <div class="background-image-holder">
                <img alt="Pic" src="/img/brandless-car-inside.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>The True Cost of Car Ownership – Problem Two</h1>
                        <div class="blog-post__author">
                            <span>
                                <em>by&nbsp;</em>
                            </span>
                            <span class="h6">Chris Long</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!-- <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <img class="blog-post__hero box-shadow" alt="pic" src="/img/hero23.jpg" />
              </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h5><i>One Car Payment – Drive. Any Where. Any Time.</i></h5>
                  <p>
                    We already know that owning a car can be expensive, and we’re not just talking about car payments. Car insurance, fuel, registration and emissions fees, maintenance, and repairs also add up. Add in depreciation, and the true cost to own a vehicle can easily be twice the price of the car itself. When considering the second-biggest purchase a family may make, the biggest if they don’t own a home, it’s really no surprise that they find it hard to keep up with it all. Maintenance and prompt repairs are often the first to go by the wayside, resulting in higher repairs costs down the road.
                  </p>
                  <p>
                    When considering a new car purchase, usually one thinks of how it fits into their budget and lifestyle right now, but what happens when your lifestyle changes? Suddenly, the new car doesn’t fit anymore, and you’re stuck with a car that doesn’t fill all your needs.                  </p>
                  <h4>
                    Problem Two: Inflexibility
                  </h4>
                  <p>
                    For example, a recently-married couple buys a new small car to commute to work, after financing for five years, they’ll pay some $30,000 for a $14,500 car, but car payments, running costs, maintenance, and repair are not the problem they’re facing – it’s life-changing. Let’s say a year passes, and suddenly she’s in the time of the month, but it doesn’t come. Instead, they’re faced with a life-altering event – she’s pregnant and, in less than a year, that commuter car isn’t going to be big enough to handle the twins she’s just announced to the rest of the family.                  </p>
                  <p>
                    Unfortunately, they’re locked into the second year of a five-year contract. Getting a second car is not in the budget, but dropping the current car means they’ll be starting all over again. If they trade in the current car for something bigger, the money they’ve put into the smaller car is lost.                  </p>
                  <p>
                  <h4>
                    The One Car Payment Solution: Flexibility
                  </h4>
                  <p>
                    Soon, One Car Payment will be able to help growing families, like this one – like yours, perhaps. Over time, our transportation needs change. Shouldn’t car ownership evolve with our changing needs? The One Car Payment Exchange, Trade, and Upgrade Program is the plan that rewards you with affordable car ownership and flexibility. If your family is growing and a minivan is more convenient, One Car Payment can move you into something more fitting. When the kids have done off to college and you want something fun to drive, One Car Payment has it. Do you need a pickup truck one weekend for moving or for a home improvement project? One Car Payment membership evolves with your needs, and always with just a single affordable payment that covers everything.
                  </p>
                  <p>
                    We thought, “Wouldn’t it be great if car loans were more flexible?” and “What if our needs change, why can’t I change my car without losing anything?” One Car Payment is our solution to this problem. For over one hundred years, we’ve been stuck in the same way of thinking.
                  </p>
                    It’s time for a change. For more information on this ground-breaking new program, sign up at OneCarPayment.com. We have a strict no-spam policy and we’ll never sell your email address to anyone.
                  </p>
                  <hr>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-post__share">
                        <h5>Share this article</h5>
                        <a class="btn btn--sm bg--facebook" href="#">
                            <span class="btn__text">
                                <i class="socicon-facebook"></i> Share on Facebook
                            </span>
                        </a>
                        <a class="btn btn--sm bg--twitter" href="#">
                            <span class="btn__text">
                                <i class="socicon-twitter"></i> Share on Twitter
                            </span>
                        </a>
                        <a class="btn btn--sm bg--googleplus" href="#">
                            <span class="btn__text">
                                <i class="socicon-googleplus"></i> Share on GooglePlus
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="blog-post__comments">
                        <hr>
                        <h6>Comments:</h6>
                        <!--
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-4.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Abigail Roswell</h5>
                                        <span>
                                            <em>March 17th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment__image">
                                                <img alt="pic" src="/img/avatar-small-3.png" />
                                            </div>
                                            <div class="comment__text">
                                                <h5>Rick Vogel</h5>
                                                <span>
                                                    <em>March 17th, 2016</em>
                                                </span>
                                                <p>
                                                    Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-1.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Lisa Wright</h5>
                                        <span>
                                            <em>March 15th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                            </li>
                        </ul>
                        -->
                        <form class="comment__form form--square">
                            <h6>Leave a Comment</h6>
                            <input placeholder="Your Name" type="text" name="name" />
                            <input placeholder="Email Address" type="email" name="email" />
                            <textarea placeholder="Your Comment" name="comment" rows="4"></textarea>
                            <button type="submit" class="btn btn--primary">Submit Comment</button>
                        </form>
                    </div>
                    <!--end of blog comments-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
