<div class="main-container transition--fade">
    <section class="blog-post">
        <div class="blog-post__title imagebg parallax" data-overlay="5">
            <div class="background-image-holder">
                <img alt="Pic" src="/img/hero02.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>The True Cost of Car Ownership – Problem One</h1>
                        <div class="blog-post__author">
                            <span>
                                <em>by&nbsp;</em>
                            </span>
                            <span class="h6">Rudy Ferraz</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!-- <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <img class="blog-post__hero box-shadow" alt="pic" src="/img/hero23.jpg" />
              </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h5><i>One Car Payment – Drive. Any Where. Any Time.</i></h5>
                  <p>
                    For most people, after a home, a car is the biggest purchase they’ll ever make. Usually, car buyers are attracted by low-interest loans, cash incentives, or other discounts, only to be trapped in a car payment scheme that doesn’t account for the true cost to own a vehicle. The car payment and financing is just one of these costs, but we can’t forget fuel, state fees, car insurance, maintenance, and repairs. Of course, there’s also depreciation, which can hurt if you’re planning on selling the car at the end of the term.
                  </p>
                  <p>
                    In many cases, car buyers focus on a car payment that fits their budget and lifestyle, only to be sidelined by all those other payments. Suddenly, that new car isn’t quite so attractive, leaving buyers struggling to make payments, maintain the car, and save for unexpected repairs.
                  </p>
                  <h4>
                    Problem One: Multiple Car Payments
                  </h4>
                  <p>
                    For example, a recently-married couple wants to buy a new 2017 Chevy Spark, priced up to $14,500 in New Jersey. Over five years of ownership, that car is going to cost just shy of $30,000, over twice the price of the car. A car payment of $275 seems manageable, but don’t forget about fuel, insurance, maintenance, and repairs, which add over $300 to the monthly bill. Suddenly, our happy couple is wondering where they can adjust their budget to take up the slack. If they decide not to bother saving for the unexpected, a repair or new set of tires could sideline their budget for weeks!
                  </p>
                  <h4>
                    The One Car Payment Solution: One Car Payment
                  </h4>
                  <p>
                    Instead of juggling multiple payments on different dates, One Car Payment combines all the payments, calculated from the entire ownership cycle, so you know exactly how much the car is going to cost you. Car payment, covered. Insurance, covered. Maintenance? We’ve got your back! Unexpected repairs and typical wear items? It’s all in there. Instead of worrying about your savings disappearing because you need new tires, you’ll get a One Car Payment voucher to cover them. Instead of skipping oil changes to “save money,” maintenance is part of the price you pay, so your car lasts longer.
                  </p>
                  <p>
                    We thought, “Wouldn’t it be great if there was only one payment to think about?” and “What if we didn’t have to worry about saving up for unexpected repairs and forgotten routine maintenance?” One Car Payment is our solution to this problem. For over one hundred years, we’ve been stuck in the same mode.
                  </p>
                  <p>
                    It’s time for a change. For more information on this ground-breaking new program, sign up at OneCarPayment.com. We have a strict no-spam policy and we’ll never sell your email address to anyone.
                  </p>
                  <div>
                    Sources:
                    <ul>
                      <li style="no-list"><a href="https://www.nerdwallet.com/blog/loans/total-cost-owning-car/">https://www.nerdwallet.com/blog/loans/total-cost-owning-car/</a></li>
                      <li style="no-list"><a href="https://www.kbb.com/chevrolet/spark/2017/ls/?vehicleid=419299&intent=buy-new">https://www.kbb.com/chevrolet/spark/2017/ls/?vehicleid=419299&intent=buy-new</a></li>
                    </ul>
                  </div>
                  <hr>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-post__share">
                        <h5>Share this article</h5>
                        <a class="btn btn--sm bg--facebook" href="#">
                            <span class="btn__text">
                                <i class="socicon-facebook"></i> Share on Facebook
                            </span>
                        </a>
                        <a class="btn btn--sm bg--twitter" href="#">
                            <span class="btn__text">
                                <i class="socicon-twitter"></i> Share on Twitter
                            </span>
                        </a>
                        <a class="btn btn--sm bg--googleplus" href="#">
                            <span class="btn__text">
                                <i class="socicon-googleplus"></i> Share on GooglePlus
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="blog-post__comments">
                        <hr>
                        <h6>3 Comments:</h6>
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-4.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Abigail Roswell</h5>
                                        <span>
                                            <em>March 17th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment__image">
                                                <img alt="pic" src="/img/avatar-small-3.png" />
                                            </div>
                                            <div class="comment__text">
                                                <h5>Rick Vogel</h5>
                                                <span>
                                                    <em>March 17th, 2016</em>
                                                </span>
                                                <p>
                                                    Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                        <!--end comment-->
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-1.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Lisa Wright</h5>
                                        <span>
                                            <em>March 15th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                            </li>
                        </ul>
                        <form class="comment__form form--square">
                            <h6>Leave a Comment</h6>
                            <input placeholder="Your Name" type="text" name="name" />
                            <input placeholder="Email Address" type="email" name="email" />
                            <textarea placeholder="Your Comment" name="comment" rows="4"></textarea>
                            <button type="submit" class="btn btn--primary">Submit Comment</button>
                        </form>
                    </div>
                    <!--end of blog comments-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
