<div class="main-container transition--fade">
    <section class="blog-post">
        <div class="blog-post__title imagebg parallax" data-overlay="5">
            <div class="background-image-holder">
                <img alt="Pic" src="/img/black-and-white-maintenance.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h1>Is 200,000 Miles the New 100,000 Miles?</h1>
                        <div class="blog-post__author">
                            <span>
                                <em>by&nbsp;</em>
                            </span>
                            <span class="h6">Benjamin Jerew</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!-- <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <img class="blog-post__hero box-shadow" alt="pic" src="/img/hero23.jpg" />
              </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h5><i>One Car Payment – Drive. Any Where. Any Time.</i></h5>
                  <p>
                    It used to be that a car reaching 100,000 miles was something of an achievement. Even automakers didn’t figure cars would go past 100,000 miles, or they’d have equipped their vehicles with 6-digit odometers instead of 5-digit ones! By that time, engine, transmission, suspension, and body were often considered scrap, not even worth repairing. New technology, better manufacturing, and better maintenance have changed all of that, and there are more cars on the road racking up ever-higher mileage.
                  </p>
                  <p>
                    Today, vehicles with over 200,000 miles are more common than ever before, and the average age of the American car is around 12 years. That means for every year-old car with 10,000 miles on it, there’s a 21-year-old car with 300,000 miles on it! Some vehicles, particularly Japanese, are even said to be “just broken in” when they hit 100,000 miles. The real question is, aside from engineering, “How do you get your car past the 200,000-mile marker without it looking like a heap?
                  </p>
                  <h4>
                    Drive Well, Keep Clean, Regular Maintenance, Prompt Repairs
                  </h4>
                  <p>
                    Start with a known-reliable car brand – you can ask your friends or check with independent testers like Consumer Reports or Edmunds. There are plenty of reliable brands and models across all segments, so finding something you like and need shouldn’t be a stretch. Then, keeping it on the road for the long haul depends entirely on you.
                  </p>
                  <p>
                    Drive the car moderately to help it last longer. A sports car might be able to accelerate from zero to sixty miles per hour in three seconds and have a top speed of 200 mph, but we have our doubts it’s necessary or even legal to do so. Instead, accelerate and decelerate at a reasonable pace. Engine, transmission, and brakes will all last longer if you don’t overheat them. Set your cruise to the speed limit or less, and you’ll reduce the load on your engine and burn less fuel. Don’t overload your car with excess baggage, unless you’re actually on vacation, of course. You’ll save your steering and suspension from excess wear.
                  </p>
                  <p>
                    Keep your car clean, inside, outside, and underneath. Keeping your car clean is more than just “the look,” but also helps your car last longer. Dirt, mud, grease, and road grime all retain water, which accelerates corrosion. Repair paint chips before they start to rust. Repair rust spots before they spread. Under the hood, clean and degrease the engine to prevent oxidation. Plastic dressing helps plastic parts last longer, as well.
                  </p>
                  <p>
                    Regular maintenance is probably the single most important thing you can do to help your car last longer. Follow the owner’s manual regarding fluid inspections and changes, and consider switching to synthetic oil. It’s more expensive, but any engine can benefit from synthetic oil’s superior lubricant and detergent properties. Rotate your tires every 5,000 miles and maintain tire pressures every week. This will help them last longer, as well as maintain traction and fuel economy.
                  </p>
                  <p>
                    If anything breaks, repair it as soon as possible. Besides maintaining the appearance and performance of your ride, prompt repairs also prevent collateral damage and spiraling repair costs. If you have a problem causing the check engine light to come on, you’ll most likely pay more for refueling as a result of decreased fuel economy.
                  </p>
                  <h4>
                    How Do You Pay for It All?
                  </h4>
                  <p>
                    Following these driving and maintenance tips, many drivers have been able to extend the lives of their cars well past 200,000 miles, and a very few past 1,000,000 miles – yes, you read that correctly, over one million miles. Unfortunately, even more people find it hard to keep up with maintenance and repairs because they don’t set aside enough money for it. Balancing car payments, insurance premiums, maintenance, and repairs can be difficult, and maintenance and repairs are usually the first to be delayed or forgotten.
                  </p>
                  <p>
                    One Car Payment wants to change all of that. For a single payment each month, everything is covered, including the car payment, financing, insurance, maintenance, and unexpected repairs. With One Car Payment, you can save juggling for your entrance in a talent show or something. It’s time for a change. For more information on this ground-breaking new program, sign up at OneCarPayment.com. We have a strict no-spam policy and we’ll never sell your email address to anyone.
                  </p>
                  <hr>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-post__share">
                        <h5>Share this article</h5>
                        <a class="btn btn--sm bg--facebook" href="#">
                            <span class="btn__text">
                                <i class="socicon-facebook"></i> Share on Facebook
                            </span>
                        </a>
                        <a class="btn btn--sm bg--twitter" href="#">
                            <span class="btn__text">
                                <i class="socicon-twitter"></i> Share on Twitter
                            </span>
                        </a>
                        <a class="btn btn--sm bg--googleplus" href="#">
                            <span class="btn__text">
                                <i class="socicon-googleplus"></i> Share on GooglePlus
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="blog-post__comments">
                        <hr>
                        <h6>3 Comments:</h6>
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-4.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Abigail Roswell</h5>
                                        <span>
                                            <em>March 17th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment__image">
                                                <img alt="pic" src="/img/avatar-small-3.png" />
                                            </div>
                                            <div class="comment__text">
                                                <h5>Rick Vogel</h5>
                                                <span>
                                                    <em>March 17th, 2016</em>
                                                </span>
                                                <p>
                                                    Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                        <!--end comment-->
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment__image">
                                        <img alt="pic" src="/img/avatar-small-1.png" />
                                    </div>
                                    <div class="comment__text">
                                        <h5>Lisa Wright</h5>
                                        <span>
                                            <em>March 15th, 2016</em>
                                        </span>
                                        <p>
                                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <!--end comment-->
                            </li>
                        </ul>
                        <form class="comment__form form--square">
                            <h6>Leave a Comment</h6>
                            <input placeholder="Your Name" type="text" name="name" />
                            <input placeholder="Email Address" type="email" name="email" />
                            <textarea placeholder="Your Comment" name="comment" rows="4"></textarea>
                            <button type="submit" class="btn btn--primary">Submit Comment</button>
                        </form>
                    </div>
                    <!--end of blog comments-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
